.btn-outline-secondary {
    display: inline-flexbox;
    width: 200px;
    margin: 20px 30px;
    background-color: white;
    border: 1px solid rgb(212, 191, 2);
    color:  rgb(212, 191, 2);
    border-radius: 25px;
    
}

body {
    background-color: rgba(211, 211, 211, 0.40);
}

.btn-outline-secondary:hover {
    background-color: rgb(212, 191, 2); 
    color: white;
}



.container, .levels-input {
    margin: 0 auto;
    text-align: center;
    
}

.form-group, label {
    margin: 0px;
}

.card {
    padding: 20px 20px;
    border: 0.5px solid rgba(212, 191, 2, 0.25);
    box-shadow: 0px 7px 7px rgba(119, 136, 153, 0.15);
    border-radius: 0px;
    /* border: none;
    box-shadow: 0px 7px 5px rgba(119, 136, 153, 0.30);
    border-radius: 20px; */
}

.block-card {
    padding: 0px;   
}

li {
    text-align: left !important;
}

.btn-link {
    color:  rgb(212, 191, 2);
}

.navbar-expand-lg {
    background-color: rgb(212, 191, 2) !important;
    color: white !important;
    
}

.navbar-brand, .nav-link {
    color: white !important;
}

button.navbar-toggler {
    border: none;
}

#hourSubmit, #studentSubmit {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#SPED-options-btn {
    margin: 5px;
    max-width: 150px;
    font-size: 15px;
    padding: 0px;
    
}



span.navbar-toggler-icon {
    color: white !important;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron{
    background-color: rgb(212, 191, 2);
    color: white; 
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.50);
   line-height: 50px;
   border-radius: 0px;
   margin-bottom: 15px;
   
}

h4 {
    margin: 15px 0px 5px 0px;
    color: rgb(212, 191, 2);
}

.custom-checkbox {
    display: inline-block;
    margin: 0px 10px;
}

